# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Git
.git
.gitignore

# VS Code
.vscode/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Environment
.env.save